---
layout: post
---

<div class="message">
    <p>This post is part of a series of posts on using <a href="https://fsharp.github.io/FsCheck/">FsCheck</a> in F#, side-by-side with <a href="https://hackage.haskell.org/package/QuickCheck">QuickCheck</a> in Haskell:</p>
    <ul>
    <li><a href="/2015/01/29/why-quickcheck-can-be-useful/">Why QuickCheck can be useful</a></li>
    <li><a href="/2015/02/08/fscheck-setup-in-fsharp/">FsCheck setup in F#</a></li>
    <li><a href="/2015/01/30/quickcheck-setup-in-haskell/">QuickCheck setup in Haskell</a></li>
    <li><a href="/2015/02/21/generators-and-the-choose-function/">Generators and the 'choose' function</a>
    <li><a href="/2015/03/21/the-sample-function-and-the-size-of-generated-test-data/">Observing the size of generated test data</a></li>
    <li>Arbitrary classes</li>
    <li>Shrinking</li>
  </ul>
</div>

{{ content }}
